In [1]:
name = "Dedi"
age = 20
address,province = "Jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False #biasanya untuk tipe boolean pakai "is" dan boolean pakai huruf besar di awal "False" atau "True"

print("Nama : ",name)
print("Umur : ",age)
print("Alamat : ",address)
print("Nilai Pemrograman : ",scorePython)
print("Status Menikah : ",isMarried)

Nama :  Dedi
Umur :  20
Alamat :  Jl. Cibolang
Nilai Pemrograman :  80.5
Status Menikah :  False

In [2]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [11]:
#Casting atau Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)

print("------- Konversi str -------")
print(strToInt,strToFloat,strToBool, sep="-")
#------------------------------------------------------------------------
#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)

print("------- Konversi int -------")
print(intToStr,intToFloat,intToBool, sep="_")
#------------------------------------------------------------------------
#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)

print("------- Konversi bool -------")
print(boolToInt,boolToFloat,boolToStr, sep="_")

------- Konversi str -------
7413412-7413412.0-True
------- Konversi int -------
20_20.0_True
------- Konversi bool -------
0_0.0_False

In [16]:
#Mengambil indeks dari string
city = "Bandung"
print(city[0])
lenCity = len(city) #panjang dari string
print(city[lenCity-1])
print("Panjangnya adalah ",lenCity)

B
g
Panjangnya adalah  7

In [22]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai desimal = ",desimal)
print("Nilai desimal dari 0xff = ",hexa)
print("Nilai desimal dari 0b1010 = ",biner)
print("Nilai desimal dari 0o377 = ",octal)

print("---------------------------------------------------------------------------------")

print("Nilai biner dari ",desimal, " = ",bin(desimal))
print("Nilai octal dari ",desimal, " = ",oct(desimal))
print("Nilai hexa dari ",desimal, " = ",hex(desimal))

Nilai desimal =  200
Nilai desimal dari 0xff =  255
Nilai desimal dari 0b1010 =  10
Nilai desimal dari 0o377 =  255
---------------------------------------------------------------------------------
Nilai biner dari  200  =  0b11001000
Nilai octal dari  200  =  0o310
Nilai hexa dari  200  =  0xc8

In [37]:
#Tipe Data Collection

cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1]) #mengambil indeks paling belakang
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0]) #ngambil indeks di dalam indeks
print("---------------------------------------------------------------------------------")

#Tuple
names = ("Andi","Budi","Caca")
print(names)
#names[0] akan menyebabkan error karena tuple adalah immutable

#
studentData = { #untuk membuat object ketik dulu {} baru di enter di tengah tengah
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
    "age" : 23,
    "isMarried" : True
}

#List of Dictionary 
listStudent = [ #membuat list sama seperti membuat object harus buat dulu []
        {
            "name" : "Dedi",
            "address" : {
                "street" : "Cisaat",
                "number" : 21,
                "province" : "West Java"
            },
            "hobbies" : ["Basket","Football"], #bila datanya banyak
            "age" : 23,
            "isMarried" : True
        },
        {
            "name" : "Budi",
            "address" : {
                "street" : "Bogor",
                "number" : 25,
                "province" : "West Java"
            },
            "age" : 26,
            "isMarried" : False
        }
]

print(studentData)
print(studentData["address"]["province"]) #Print object di dalam object
print("-------------------------------------------------------------------------")
print(listStudent[1])
print(listStudent[0]["hobbies"][1])
print(listStudent[0]["age"])

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J
---------------------------------------------------------------------------------
('Andi', 'Budi', 'Caca')
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Java'}, 'age': 23, 'isMarried': True}
West Java
-------------------------------------------------------------------------
{'name': 'Budi', 'address': {'street': 'Bogor', 'number': 25, 'province': 'West Java'}, 'age': 26, 'isMarried': False}
Football
23

In [43]:
#Casting dictionary

list_tuple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent) #list akan di ubah secara otomatis menjadi object

list_list = [["buah","Apel"],["harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("mapel","informatika"),("sks",4))
dictMapel = dict(tuple_tuple)
print(dictMapel)

tuple_list = (["Merk","Honda"],["tahun",2005])
dictMobil = dict(tuple_list)
print(dictMobil)

keys = ["names","age","address"]
values = ["Adi",20,"Bandung"]
dictData = dict(zip(keys,values)) #zip untuk menyatukan antara keys dan values namun harus jumlahnya sama
print(dictData)

{'name': 'Dika', 'nilai': 80}
{'buah': 'Apel', 'harga': 10000}
{'mapel': 'informatika', 'sks': 4}
{'Merk': 'Honda', 'tahun': 2005}
{'names': 'Adi', 'age': 20, 'address': 'Bandung'}